
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off" >
    <div style="display: flex; justify-content: center">
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" >
                    <mat-error *ngIf="loginForm.controls.email.errors?.email || loginForm.controls.email.errors?.required ">
                        Insira um e-mail válido
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Senha</mat-label>
                    <input matInput type="text" formControlName="password">
                    <mat-error *ngIf="loginForm.controls.password.errors?.required">
                        Insira uma senha
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="display: flex; justify-content: space-between; align-items: center">
                <button type="submit" mat-raised-button color="primary"  >
                Entrar</button>
                <a routerLink="/register">Cadastrar</a>
            </div>
            <mat-error *ngIf="showError">
                Email e senha inválidos.                                 
            </mat-error>
        </mat-card>
    </div>
</form>
 